@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);

body {
    background: #FFFFFA;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    position: absolute;
    top:2rem;
    right:2rem;
    bottom:2rem;
    left:2rem;
}

.chat-window {
    position:relative;
    height:100%;
    width:100%;
    margin: 0 auto;
    overflow: hidden;
    min-height: 200px;
    max-width: 960px;
    background: lightslategrey;
    border-radius: 5px;
    box-shadow: 0 0 5px #999;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.menu {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 0;
    margin: 0;
    height: 2.3125rem;
    width: 100%;
    border: none;
    background: #3a3a3a;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
}

.title {
    color: #FFFFFA;
    text-align: center;
    display: inline-block;
    height: 100%;
    font-size: 16pt;
    line-height: 2.3125rem;
}

.settings-button-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #FFFFFA;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    font-size: 14pt;
    line-height: 1rem;
}

.settings-button {
    cursor: pointer;
    color: #FFFFFA;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    font-size: 14pt;
    padding: 0.2rem;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup-settings {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    top: 0.5rem;
    left: 3rem;
    border-radius: 2px;
    box-sizing: border-box;
    background: #FFFFFA;
    display: none;
    text-align: left;
    padding: 1rem;
    box-shadow: 0 0 5px #999;
    z-index: 50;
    font-size: 10pt;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.popup-settings ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.popup-settings li {
    margin-top: 0;
    cursor: pointer;
}

.popup-settings li ~ li {
    margin-top: 1rem;
}

.modal-container {
    display: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 2.3125rem;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    text-align: center;
    font-size: 24pt;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}

.modal {
    display: inline-block;
    margin-top: 10vh;
    background: #f5f5f5;
    padding: 3rem;
    max-width: 30%;
    max-height: 30%;
    border-radius: 5px;
    box-shadow: 0 0 5px #999;
}

.modal h4 {
    margin: 0;
}

.modal p {
    font-size: 12pt;
}

.nameBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding: 0.5rem;
    height: 3rem;
    width: 100%;
    margin-top: 1rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    border-radius: 5px;
}

.nameBox:focus {
    background: #fafafa;
    border-color: #999;
    outline: none;
}

.saveName {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 0;
    font-size: 2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    border-radius: 5px;
}

.log-container {
    overflow: hidden;

}

.log {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 1rem;
    position: absolute;
    margin-right: -30px;
    padding-right: 30px;
    padding-bottom: 0;
    top: 2.3125rem;
    right: 0;
    bottom: 2.3125rem;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.card {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f5f5f5;
    color: #3a3a3a;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 0 15px #888888;
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0.5rem;
    text-align: left;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.sender {
    font-size: 10pt;
    display: inline-block;
}

.content {
    padding-top: 0.2rem;
}

.chatBox {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    bottom: 0;
    margin: 0;
    font-size: 0.875rem;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.chatBox:focus {
    background: #fafafa;
    border-color: #999;
    outline: none;
}

@media (max-width: 680px) {
    .container {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .log {
        margin-right: 0;
        padding-right: 1rem;
    }

    .chat-window {
        border-radius: 0;
    }

    .menu {
        border-radius: 0;
    }

    .chatBox {
        border-radius: 0;
    }
}